<!DOCTYPE html>
<html lang="zh-hans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人简历</title>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap-4.0.0.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-6">
          <h1>许正侒</h1>
        </div>
        <div class="col-6">
          <p class="text-right"><a href="{{ url_for('download', filename="static/resume.jpg") }}">Download my Resume</a></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="media">
            <img class="mr-3" src="../static/images/115X115.gif" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">求职意向：PythonWeb开发相关工作</h5>
			   <ul>
              	<li>2年通讯行业工作经验，大学主修电子信息工程。</li>
				<li>熟悉Django及FlaskWeb框架，熟悉MySQL相关知识，掌握前端编程相关知识，对Mongodb、redis等非关系型数据库知识有所了解；能够进行Linux编程。 </li>
				<li>英语语言能力优秀，具有良好的逻辑思维能力。能够流畅浏览外网网站，并经常浏览Reddits、Github、Stackflow等网站内容。对微信小程序开发相关知识有所了解并兴趣浓厚。</li>
				<li>擅长逻辑思维，具有良好的团队合作意识，兴趣广泛，爱好音乐、阅读及写作。</li>
               </ul>
			</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row justify-content-md-around m-1">
            <address>
              <strong>联系方式</strong><br>
              住址：四川省成都市<br>
              <abbr title="Phone">电话号码:18381333194; 13088355961</abbr>
              <a href="mailto:#">ashedjoker@gmail.com</a><br>
			  <a href="mailto:#">244018719@qq.com</a>
            </address>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2>教育经历(Educations)</h2>
          <hr>
          <div class="row">
            <div class="col-6">
              <h4>四川理工学院</h4>
            </div>
            <div class="col-6">
              <h5 class="text-right"><span aria-hidden="true"></span> Jan 2009 - Dec 2016</h5>
            </div>
          </div>
          <h5><span class="badge badge-secondary">电子信息工程工学学士学位</span></h5>
        </div>
        <div class="col-md-6 col-sm-12">
          <h2>能力情况</h2>
          <hr>
          <div class="progress mt-4">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"> Python</div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> Django及Flask框架</div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"> html5、Js及css</div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 75%"> 英语语言能力</div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 65%"> MySQL数据库</div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"> Linux环境编程</div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"> 微信小程序开发</div>
          </div>
        </div>
      </div>
      <hr>
      <h2>工作经历(Work Experience)</h2>
      <hr>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-6">
              <h4>长飞光纤光缆四川公司</h4>
            </div>
            <div class="col-6">
              <h5 class="text-right"><span aria-hidden="true"></span> Aug 2016 - July 2018</h5>
            </div>
          </div>
          <h5><span class="badge badge-secondary">Web Developer</span></h5>
          <p>于2016年8月至2018年7月任职于长飞光纤光缆四川公司技术生产部，职务为工艺工程师，主要负责：</p>
          <ul>
            <li>负责对光缆生产护套工序工艺质量及工艺纪律的工艺及生产管理。</li>
			 <li>负责各工序质量问题事故统计分析工作，制定针对性解决策略，并在部门核心例会对分析报表内容进行分析讲解。</li>
            <li>参与新产品的设计开发及实验工作。</li>
            <li>协助部门经理完成相关工作任务，负责部门会议纪要等部门文件的撰写工作。</li>
          </ul>
        </div>
		</div>
      <h2>项目展示</h2>
      <hr>
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-4 col-12 p-0"><img class="img-thumbnail"  src="../static/images/300X200.gif" alt=""></div>
          <div class="col-sm-4 col-12 p-0"><img class="img-thumbnail"  src="../static/images/300X200.gif" alt=""></div>
          <div class="col-sm-4 col-12 p-0"><img class="img-thumbnail"  src="../static/images/300X200.gif" alt=""></div>
        </div>
        <div class="row text-center">
          <div class="col-sm-4 col-12 p-0"><img class="img-thumbnail"  src="../static/images/300X200.gif" alt=""></div>
          <div class="col-sm-4 col-12 p-0"><img class="img-thumbnail"  src="../static/images/300X200.gif" alt=""></div>
          <div class="col-sm-4 col-12 p-0"><img class="img-thumbnail"  src="../static/images/300X200.gif" alt=""></div>
        </div>
      </div>
      <hr>
      <footer class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p>Copyright © MyWebsite. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap-4.0.0.js"></script>
  </body>
</html>
